@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title</h2>
<h3>Author's contact details</h3>

<address>
    Dawid Chruściński<br />
    Toruń<br />
    <abbr title="Phone">P:</abbr>
    605-339-053
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:chruscinskid@gmail.com">chruscinskid@gmail.com</a>
</address>