@{
    ViewBag.Title = "Home Page";
}

<style>
    .img-fluid {
        max-width: 100%;
        height: auto;
    }
</style>

<div class="jumbotron">
    <h1>Bus depot management application</h1>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Welcome to bus depot management application</h2>
        <p>
            It's simple application to manage bus depot.
        </p>
    </div>
    <div class="col-md-8">
        <img class="img-fluid" src="~/Content/zaj.jpg" >
    </div>
</div>